@model FinancialPortal.Models.CodeFirst.AccountTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciledStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciledStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciledAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciledAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciliationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciliationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
